- if issue.id && (Setting[:plugin_redmine_issues_quality][:issue_status].to_i == Issue.find(issue.id).status_id) && (User.current == issue.author)
  %h3=l(:label_rate_issues_quality)+":"
  - @ratings = Rating.all(:order => :position)
  - @ratings.each do |rating|
    %p
      %label{:for => "issues_rating_id"}
        = rating.name
      =radio_button("issue", "rating_id", rating.id)
